.problem-parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
}

td:first-child {
  font-weight: bold;
}
