<div class="problem-parent">
  <table>
    <thead>
      <tr>
        <th>Place</th>
        <th>Désignation</th>
        <th>Couleur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P1</td>
        <td>Chou départ</td>
        <td><div class="node blue"></div></td>
      </tr>
      <tr>
        <td>P2</td>
        <td>Chèvre départ</td>
        <td><div class="node green"></div></td>
      </tr>
      <tr>
        <td>P3</td>
        <td>Loup départ</td>
        <td><div class="node pink"></div></td>
      </tr>
      <tr>
        <td>P4</td>
        <td>Homme départ</td>
        <td><div class="node orange"></div></td>
      </tr>
      <tr>
        <td>P5</td>
        <td>Chou arrivé (de l'autre coté)</td>
        <td><div class="node blue"></div></td>
      </tr>
      <tr>
        <td>P6</td>
        <td>Chèvre arrivé(de l'autre coté)</td>
        <td><div class="node green"></div></td>
      </tr>
      <tr>
        <td>P7</td>
        <td>Loup arrivé(de l'autre coté)</td>
        <td><div class="node pink"></div></td>
      </tr>
      <tr>
        <td>P8</td>
        <td>Homme arrivé(de l'autre coté)</td>
        <td><div class="node orange"></div></td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Transition</th>
        <th>Désignation</th>
        <th>Couleur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T1</td>
        <td>L'homme porte le Chou</td>
        <td><div class="link blue"></div></td>
      </tr>
      <tr>
        <td>T2</td>
        <td>L'homme porte le Chèvre</td>
        <td><div class="link green"></div></td>
      </tr>
      <tr>
        <td>T3</td>
        <td>L'homme porte le Loup</td>
        <td><div class="link pink"></div></td>
      </tr>
      <tr>
        <td>T4</td>
        <td>Homme va tout seul</td>
        <td><div class="link orange"></div></td>
      </tr>
      <tr>
        <td>T5</td>
        <td>L'homme ramène le Chou venant de l'autre coté</td>
        <td><div class="link blue"></div></td>
      </tr>
      <tr>
        <td>T6</td>
        <td>L'homme ramène le Chèvre venant de l'autre coté</td>
        <td><div class="link green"></div></td>
      </tr>
      <tr>
        <td>T7</td>
        <td>L'homme ramène le Loup venant de l'autre coté</td>
        <td><div class="link pink"></div></td>
      </tr>
      <tr>
        <td>T8</td>
        <td>L'homme revient seul</td>
        <td><div class="link orange"></div></td>
      </tr>
      <tr>
        <td>T9</td>
        <td>Le Chèvre mange le Chou(départ)</td>
        <td><div class="link gray"></div></td>
      </tr>
      <tr>
        <td>T10</td>
        <td>Le Loup mange le Chèvre(départ)</td>
        <td><div class="link gray"></div></td>
      </tr>
      <tr>
        <td>T11</td>
        <td>Le Chèvre mange le Chou de l'autre coté(arrivé)</td>
        <td><div class="link gray"></div></td>
      </tr>
      <tr>
        <td>T12</td>
        <td>Le Loup mange le Chèvre de l'autre coté(arrivé)</td>
        <td><div class="link gray"></div></td>
      </tr>
    </tbody>
  </table>
</div>
