<div class="problem-parent">
  <table>
    <thead>
      <tr>
        <th>Place</th>
        <th>Désignation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>P1</td>
        <td>Chou</td>
      </tr>
      <tr>
        <td>P2</td>
        <td>Chèvre</td>
      </tr>
      <tr>
        <td>P3</td>
        <td>Loup</td>
      </tr>
      <tr>
        <td>P4</td>
        <td>Homme</td>
      </tr>
      <tr>
        <td>P5</td>
        <td>Chou de l'autre coté</td>
      </tr>
      <tr>
        <td>P6</td>
        <td>Chèvre de l'autre coté</td>
      </tr>
      <tr>
        <td>P7</td>
        <td>Loup de l'autre coté</td>
      </tr>
      <tr>
        <td>P8</td>
        <td>Homme de l'autre coté</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Transition</th>
        <th>Désignation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>T1</td>
        <td>L'homme porte le Chou</td>
      </tr>
      <tr>
        <td>T2</td>
        <td>L'homme porte le Chèvre</td>
      </tr>
      <tr>
        <td>T3</td>
        <td>L'homme porte le Loup</td>
      </tr>
      <tr>
        <td>T4</td>
        <td>Homme va tout seul</td>
      </tr>
      <tr>
        <td>T5</td>
        <td>L'homme ramène le Chou venant de l'autre coté</td>
      </tr>
      <tr>
        <td>T6</td>
        <td>L'homme ramène le Chèvre venant de l'autre coté</td>
      </tr>
      <tr>
        <td>T7</td>
        <td>L'homme ramène le Loup venant de l'autre coté</td>
      </tr>
      <tr>
        <td>T8</td>
        <td>L'homme revient seul</td>
      </tr>
      <tr>
        <td>T9</td>
        <td>Le Chèvre mange le Chou</td>
      </tr>
      <tr>
        <td>T10</td>
        <td>Le Loup mange le Chèvre</td>
      </tr>
      <tr>
        <td>T11</td>
        <td>Le Chèvre mange le Chou de l'autre coté</td>
      </tr>
      <tr>
        <td>T12</td>
        <td>Le Loup mange le Chèvre de l'autre coté</td>
      </tr>
    </tbody>
  </table>
</div>
