.error-message-container {
  position: fixed;
  z-index: 50;
  top: 60px;
  left: 0px;
  right: 0px;
}
.error-card {
  margin: 0 auto;
}
.error {
  box-shadow: 1px 1px 3px red;
  height: 170px;
  padding: 5px 10px;
  overflow-y: scroll;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}

.message {
  font-weight: bold;
  color: red;
  text-align: justify;
  margin: 30px;
}

.close-btn {
  font-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

.close-btn:hover {
  background-color: white;
  color: red;
  border: 1px solid red;
  box-shadow: 1px 1px 2px red;
}
